# Configuration PostgreSQL Vacances
POSTGRES_VACANCES_HOST=postgres-vacances
POSTGRES_VACANCES_PORT=5432
POSTGRES_VACANCES_DB=vacances
POSTGRES_VACANCES_USER=vacances_user
POSTGRES_VACANCES_PASSWORD=vacances_password
POSTGRES_VACANCES_EXTERNAL_PORT=5433

# Configuration PostgreSQL Airflow
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow

# Airflow
AIRFLOW_UID=50000

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123
